.myprofile-page-container {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.profile-picture {
  margin: 250px auto 40px auto;
  border-radius: 100%;
  width: 130px;
  height: 130px;
}

.profile-name {
  margin-bottom: 200px;
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 55px;
  text-align: center;
}

.profil-hr {
  margin: 100px 0;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}