.header-nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  padding: 40px 0;
  z-index: 11;
  width: 100%;
  height: auto;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  transition: all 0.5s;
}

.header-nav-flex-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 84vw;
}

.header-nav.is-not-at-top {
  background: white;
  border-bottom: solid 1px var(--light-gray);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-nav {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 17px;
}

.logo {
  width: 120px;
}

.btn-create {
  border-radius: 25px;
  background-color: var(--primary-text-color);
  padding: 12px 20px;
  color: white;
}

.account-icon {
  img {
    width: 30px;
  }
}

.account-name {
  font-weight: 700;
}

.account-flex-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-compte.white {
  color: white;
}

.btn-create.white {
  border: 1px solid white;
  background-color: transparent;
  color: white;

  &:hover {
    background-color: white;
    color: var(--primary-text-color);
  }
}