.story-form-container{
    width: 100vw;
}

.h1-story-form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    font-size: 55px;
    font-weight: 700;
}

.story-form{

}

