/* ----------Section récemment publiées----------- */

.overview-page-container {
  width: auto;
  height: auto;
}

.story-card-container {
  margin-top: 120px;
  border: 1px solid var(--purple);
  border-radius: 25px;
  background-color: white;
  padding: 30px;
  height: auto;
  width: 1125px;
}

.story-card {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}

.overview-flex-1 {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.overview-flex-2 {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.img-container {
  position: relative;
  width: 500px;
}

.overview-img {
  border-radius: 25px;
}

.overview-tags {
  display: flex;
  flex-direction: row;
  gap: 20px;
  top: 18px;
  left: 15px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 18;

  span {
    background-color: var(--primary-text-color);
    margin-right: 20px;
    border-radius: 15px;
    background-color: white;
    padding: 8px 20px;
  }
}

.read-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
  cursor: pointer;
  margin: 0 auto;
  border: solid 1px var(--primary-text-color);
  border-radius: 25px;
  background-color: white;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  font-weight: 500;

  p {
    transition: all 0.3s;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 19px;
  }

  &:hover {
    transition: all 0.3s;
    border: white;
    background-image: linear-gradient(to right, #8e10e7, #dc82ff);
    color: white;

    p {
      color: white;
    }
  }
}

/* .btn-modify {

} */

.read-icon {
  /* position: absolute; */
  /* top: 50%; */
  margin-top: 2px;
  margin-left: 10px;

  /* transform: translateY(-50%); */
}

h3 {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 27px;
}

p {
  color: var(--secondary-text-color);
  font-weight: 300;
  font-size: 20px;
}

p.overview-synopsis {
  margin-bottom: 20px;
  font-size: 16px;
}

.author {
  cursor: pointer;
  font-weight: 700;
}

hr {
  margin: 100px 0;
  color: #b8b8b8;
}

.button-container {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}